[2011-10-03 20:16] uvemas opened #1 "Renaming a node with view doesn't update the title of the view"
When we rename a node and it has a view then the view title is not refreshed with the new node name.
Steps To Reproduce: Open a view for a read-write node and rename the node.

[2011-10-03 20:16] uvemas opened #2 "Renaming a node with view doesn't update the title of the view"
When we rename a node and it has a view then the view title is not refreshed with the new node name.
Steps To Reproduce: Open a view for a read-write node and rename the node.

[2011-10-03 20:17] #2 closed, assigned to uvemas

[2011-10-03 20:19] uvemas opened #3 "Selected cell issue when browsing large tables"
When browsing large tables with the mouse or the scrollbar the selected cell is not properly updated.
Steps To Reproduce: Open a table with let's say 1 million rows. Select the cell (1, 1) with the mouse and drag the slider. The top left cell of the table remains selected but it shouldn't as it is not now mapped to the (1, 1) cell.

[2011-10-03 20:21] uvemas opened #4 "Make the export_csv plugin capable of export a range of selected cells"
Gaëtan has requested in the Users' Group:

For the export_csv plugin, it would be nice if it only exported the
currently selected rows and columns

[2011-10-03 20:23] uvemas opened #5 "Bad interaction between soft/external links and the time series plugin"
When the time series plugin is enabled and I try to open a soft/external link I get the follwoing error in the logger:

Traceback (most recent call last):
  File "/home/vmas/ViTables/hg_branches/vitables_tip/vitables/plugins/timeseries/time_series.py", line 166, in customiseModel
    ts_kind = findTS(datasheet)
  File "/home/vmas/ViTables/hg_branches/vitables_tip/vitables/plugins/timeseries/time_s

[2011-10-03 20:25] uvemas opened #6 "Add support for leaf data editing"
Support for leaf data editing has been requested by Gaëtan.

[2011-10-06 16:52] uvemas opened #7 "setup.py requires sphinx to be installed and it shouldn't"
The current setup.py doesn't work if the Sphinx python documentation system. The root of the problem is the line:

sphinx_found = True

It should be changed  to:

sphinx_found = False

The True value has to be used for development but the False value has to be used in the distributed tarballs.

[2011-10-06 17:40] #7 closed, assigned to uvemas

[2011-10-29 10:17] uvemas opened #9 "Buggy behavior of the current cell"
In the development version, the behavior of the current cell
is annoying: if you are in the middle of a table and you scroll down using the "down"
key, after a few rows, you'll end up with the selected cell being at
the last visible row. This is perfectly fine & standard so far.
However, if you then scroll up by using the "up" key, it jumps
directly to the first visible row and moving the viewport

[2011-11-15 13:13] tmbdev opened #10 "add support for columnar organizations"
Many of my datasets are multiple separate arrays with the same length.  They are really a "database" in column organization (there are good reasons for doing it this way; tables are not an alternative).

I would like to be able to browse such a collection of "columns" as if they were a table.  That means "linking" the views of multiple arrays together so that corresponding indexes are shown togeth

[2011-11-15 13:26] tmbdev opened #11 "add support for image viewing"
Many of my tables contain images.  It would be nice to be able to view them in vitables.

Assume there are N images of size W,H.  The following are common:

-- Arrays, EArrays, CArrays of the form: (W,H), (W,H,3), (N,W,H), (N,W,H,3), (N,W*H) assuming W==H

-- VLArrays of the form: (N,W_H) assuming W==H, or (N,W_H) with another (N,2) array containing W,H

-- VLArrays containing pickled Python array

[2011-12-15 08:38] uvemas opened #12 "Add sorting cappabilities to the tree panel"
This feature has been requested by T. North:

... in the tree of database on the left panel, would it be possible to
add some sorting options ?
It seems that the items are not sorted by the creation order of the input file.
For example, if I have some arrays foo1,foo2,foo3 in a group, it may show as
foo2,foo1,foo3

[2012-11-05 06:24] bbirand opened #13 "Problem in setup.py on Mac OS X with regards to Sphinx"
I'm trying to run the make.sh script on Mac OS X to get a standalone executable. There seems to be something wrong with the way the sphinx_found variable is used. It always is True. I changed the first few lines of setup.py to be:

 37 sphinx_found = False
 38 try:
 39     from sphinx.setup_command import BuildDoc
 40     sphinx_found = True
 41 except ImportError:
 42     pass

This seems like it

[2012-11-05 06:29] bbirand opened #14 "Python 3 style metaclass even for Python 2.7"
I have Python 2.7 on Mac OS X. When I try to run make.sh, I get the error

[...]
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/PyQt4/uic/port_v3/proxy_base.py", line 31
    class ProxyBase(metaclass=ProxyMetaclass):
                             ^
SyntaxError: invalid syntax

This looks like Python 3 metaclass syntax. The script looks for the version of Pytho

[2012-11-05 08:06] #13 closed, assigned to nobody

[2012-11-05 09:03] #14 closed, assigned to nobody

[2013-01-18 08:52] alexey-naydenov opened #15 "Bug in pluginsLoader.py, github version"
Hi,

at line 235

[code]

should be
   self.untrack(UID)

I try to write a couple of plugins and this drove me mad because it eats up error messages.
Also It would be nice not to swallow exceptions silently (this happens in a few places) and not to redirect stdout, stderr to logger (if error happens during plugin loading then vitables crashes before showing main window).

Is the project still unde

[2013-01-23 22:14] #9 closed, assigned to uvemas

[2013-01-24 09:58] alexey-naydenov opened #16 "Shebang problem in vitables script"
Hi,

This does not work when the script is launched by itself (without python ....)

[code]

Could you change it to

[code]

Thanks
Alexey

[2013-01-24 10:44] #16 closed, assigned to uvemas

[2013-01-28 20:26] #3 closed, assigned to uvemas

[2013-02-01 11:27] alexey-naydenov opened #18 "Funky behavior of CSV export plugin."
Select a group,  open Dataset menu then the menu entry "Export  to CSV ..." will be greyed out. If you afterwards right click on any leaf node "Export  to CSV ..." will be grayed out as well in the context menu. If you open Dataset menu while a leaf is selected export to csv becomes enabled as well as context menu entry.

Problem: the same action is used in the main menu and the context menu so wh

[2013-02-01 16:15] #15 closed, assigned to nobody

[2013-02-07 21:10] #5 closed, assigned to uvemas

[2013-02-10 20:38] #18 closed, assigned to nobody

[2013-03-21 12:12] joschkazj opened #21 "tests from tests package cannot be run"
I'm trying to understand the application structure of ViTables to be able to extend it for my application as a custom HDF5 browser with image analysis functions.
While trying to run the unit tests from the `tests` package, I found several issues (I've adapted `test_all.py` to import PyQt4 and modify `sys.path`to make the tests package importable):
- `import qt` fails as both PyQt4 and PySide are n

[2013-03-21 16:43] #21 closed, assigned to nobody

[2013-04-06 12:12] MaxBo opened #22 "Show Umlaute in strings"
In our hdf5-data, you often find German "Umlaute" (ÄÖÜß) in table columns or string arrays.
currently ViTables displays them as they are processed by numpy.array2string
This makes tables that contain "Umlaute" hardly readable.

I changed the function formatArrayContent(content) in  vitables\utils.py (lines 278-302)
Now ViTables gives me a nice representation of strings and string arrays with Umlau

[2013-07-17 03:46] mkartic opened #23 "Incorrect Version Checking in setup.py"
PyQT version is '4.10.2' in my system. The setup.py checks '< 4.4' which will be true, and hence installation will not proceed. (line number 56 in this case, but version checking seems to be similar for all deps)

[2013-09-03 17:37] #22 closed, assigned to nobody

[2013-09-04 15:23] #23 closed, assigned to nobody

[2013-10-07 21:36] #12 closed, assigned to uvemas

[2013-11-19 13:32] #10 closed, assigned to uvemas

[2013-11-25 14:31] davidfokkema opened #24 "Please update stable version and upload to PyPI"
The stable version of ViTables does not work on a Mac. That particular bug has been fixed sometime in 2011. There has been a lot of work since that time. Also, if this package is uploaded to PyPI, I can tell my coworkers to do a simple

[code]

to install an awesome tool for inspecting our data files. Thanks for your work!

[2013-12-02 08:19] alexey-naydenov opened #25 "Program terminates if plugin descriptions was changed."
Hi,

There is a bug in plugin loading function. If one enables a plugin,  changes its description and copies the new version into plugin folder then vitables crashes without any output. The problem is in except handler in `pluginsloader.py` at line 214. KeyError is thrown before `mod_name` is defined so new exception is raised in exception handler.
Better change the handler to:

[code]

It is prob

[2014-02-23 15:34] sanmai-NL opened #28 "setup.py incompatible with Python 3"
On the 'python3-support' branch:

[code]

[code]

[2014-02-24 10:20] #28 closed, assigned to uvemas

[2014-03-06 07:26] sobersoup opened #29 "Syntax Errors for Python 3.+"
Several syntax errors were found in the following files:
vitables\h5db\dbdoc.py
vitables\queries\querydlg.py
vitables\preferences\vtconfig.py

All errors were part of the module's error handlers.

[2014-07-17 16:55] chrish42 opened #30 ""python setup.py install" on Windows creates vitable launcher script without ".bat""
Hello. Running "python setup.py install" from the latest vitables release on Windows creates a "vitables" launcher (in the "scripts" directory) that does not end with a ".bat" extension, and so does not work.

I'm pretty sure there is a feature in setuptools that does the right thing on Windows, but it doesn't come to mind at the moment.

[2014-07-17 17:19] chrish42 opened #31 "Launching ViTables after installation via binary installer for Windows gives error message"
Hi. After installing vitables via the Windows binary installer available from the vitables website on a Windows 7 (64 bits) computer, I get the following error when attempting to run vitables:

"The application was unable to start correctly (0xc000007b). Click OK to close the application."

So, vitables does not start.

[2014-07-17 17:21] chrish42 opened #32 "Vitables Windows binary installer does not register uninstaller"
Hi. The Windows binary installer for Vitables does not seem to register its "uninstall.exe" programmer as the uninstaller for Vitables in the registry. So there is no way to uninstall Vitables from the "Add/Remove Software" control panel in Windows.

[2014-07-18 06:10] #30 closed, assigned to uvemas

[2014-07-18 06:17] #31 closed, assigned to uvemas

[2014-09-15 11:01] gdementen opened #33 "installing the develop branch"
I wanted to try the develop branch, but, as of today (71504a3c478) it does not run...
`python setup.py install` seem to work but it does not copy the .ui files, so I am left with a broken copy.

[2014-10-13 09:06] uvemas opened #35 "Display column names for as used in pytable"
User lkjlkj9asjpd9jp said:

Hi,
i am using python pandas to generate hdf tables (pytables is working behind the scenes). When I open the generated hdf5 file I can open the table and display its contents, however it seems that multiple columns are joined together apparently based on their data type (all float columns go together, all int columns as well, etc.). The column names are generic like 'va

[2015-01-16 20:30] jason-s opened #36 "add support for text Content-Type attributes for uint8 arrays"
I store text in HDF5 tables using UTF-8 encoding in an EArray of uint8. I don't know how common it is, but it works nicely. In any case, when I look at these tables in ViTables, they just show up as arrays of integers.

It would be really useful if I could mark these tables with a `Content-Type` attribute as per the [HTTP spec on the `Content-Type` header](http://www.w3.org/Protocols/rfc1341/4_Con

[2015-02-10 17:00] md23ch opened #37 "Problem with vitables on Scientific Linux 6.2"
Dear All,

I have compiled and installed PyTables and all related packages. Next I have installed Vitables.
When I started Vitables I get the following error:
Traceback (most recent call last):
  File "/usr/bin/vitables", line 105, in <module>
    main(sys.argv)
  File "/usr/bin/vitables", line 91, in main
    vtapp = VTApp(mode=options.mode, dblist=options.dblist, h5files=h5files)
  File "/usr/li

[2015-02-10 19:14] uvemas commented on #37
Hi Miroslaw,

it is the first time this error is reported and right now I have no idea on what the problem can be (although it seems to be related to the PyQt version, 4.6.2 could be too old). I'll try to have some spare time this weekend for thinking about it. I hope to have some news next week. In the meantime you could try to use the repository version of ViTables.

Sorry for not fixing the pro

[2015-02-10 19:40] md23ch commented on #37
Hi Vicent,

Thank you for your quick reply. I am looking forward for some hints what to do in order to have ViTables running on my SL6.2 .

Many Thanks for your support.

Best Regards

Miroslaw Dach

[2015-02-13 11:06] uvemas commented on #37
Hi,

I'm trying to install the ViTables package and its dependencies in a virtual machine running Scientific Linux. Unfortunately it's the first time I use this distro and I'm having problems installing packages.

Could you tell me how to install the HDF5 libraries (other than compiling the source code)? I also would like to know how have you installed PyQT4 (from yum packages? downloading it from

[2015-02-13 13:37] md23ch commented on #37
Hi Vincent,

As regards hdf5 package I have installed sources and compiled whole project. If you like I can provided with the compiled package for Intel_x86_32.

As regards PyQt4 you can install it being root. Just type: yum install PyQt4.
Vitables I have downloaded from the official page and built it according to the instruction.

I had to also install sources of: numpy, numexpr, Pytables and bui

[2015-02-14 12:04] uvemas commented on #37
Hi,

thanks for your last comment. I've completed the ViTables 2.1 installation on a virtual machine with:

- SL 7x (SL 6 downloading was incredibly slow on all tested mirrors :-(
- Python 2.7.5
- PyTables 3.1.1
- NumPy 1.9.1
- HDF5 1.8.14
- Zlib 1.2.7
- Sphinx 1.2.3
- Qt 4.8.5
- PyQt 4.10.1

Although ViTables 2.1 has not been tested against PyTables 3.1.1 everything seems to go flawlessly so I st

[2015-02-16 15:38] md23ch commented on #37
Hi Vincent,

Thank you for your explanation. I will try to rebuilt from sources PyQt4 and let you know.

Best Regards

Miroslaw Dach

[2015-03-01 08:58] SmokinCaterpillar opened #38 "Cannot start vitables due to broken KeyError handling on plugin loading"
Hey, ViTables crashes on start up if I install the version from the repository (Ubuntu).
It just prints "Creating the Query results file..." to the console and crashes.

I debugged my way to the source of the crash and found it in `pluginsloader.py`.
The `load` function performs erroneous exception handling :

    def load(self, UID):
        """Load a given plugin.

        :Parameter UID: the UI

[2015-03-01 10:22] uvemas commented on #37
No news from Miroslaw since 2 weeks ago. I assumend the problem has been fixed and close the bug.

[2015-03-01 10:22] #37 closed

[2015-03-01 15:20] #38 closed

[2015-04-04 12:42] stonebig opened #40 "PyQt5 support ?"
Does ViTables intend to support Qt5  ?

[2015-04-06 09:20] uvemas commented on #40
Yes, but not in the near future. The problem is simple: the two main contributors (Alexey and I) are two busy and have no spare time for developing ViTables so the development pace is slow. Having more contributors would be a great help.

[2015-04-11 10:10] avalentino commented on #40
Hi @uvemas I ported an application of mines ([gsdview](https://github.com/avalentino/gsdview)) to pyqt5 and it didn't took too much time.
FYI i developed a small adaption layer to allow my app to work also with pywt4 and pyside.
You can find it at https://github.com/avalentino/qtsix and on PyPI.

[2015-04-11 11:35] uvemas commented on #40
Hi @avalentino, thanks a lot for your useful information. I'll try to have a look to your repo this weekend. Unfortunately I still don't know when I'll be able to continue the ViTables development.

[2015-04-22 20:39] kprussing commented on #29
After running `2to3` on the project, I also did not get any syntax errors.

Furthering the discussion on Python 3 compatibility, do you need to continue supporting Python 2.6?  Apparently PyTables is [no longer](http://pytables.github.io/MIGRATING_TO_3.x.html) actively supporting versions of Python lower than 2.7.  On a whim, I launched the ViTables script using Python 2.7 and the only syntax rela

[2015-04-23 09:23] uvemas commented on #29
Hi,

which branch are you talking about? I can't find imports of ConfigParser neither in the Python3-support nor in the develop branches. Please note that development in the master (and Python3-support) branch is frozen (apart from fixing bugs).

Support for Python2.6 is already dropped. It makes no sense to support it if PyTables doesn't. In addition as the project has only 2 developers and both

[2015-04-23 15:05] kprussing commented on #29
That would explain it then. I started working on the master branch because it had the most recent activity, and I thought it was the primary branch. If the development branch is where the real work should be happening, I'll back up and start from there. Thanks for the note. Should this issue be closed now that this is no longer an issue?

[2015-04-23 15:19] uvemas commented on #29
Hi,

I'm sorry if the current branches layout was confusing for you. I'm closing the issue.

Thanks for your comments.

[2015-04-23 15:19] #29 closed

[2015-05-11 18:09] kprussing commented on #11
I've started working on an extension, [vtimshow](https://github.com/kprussing/vtimshow), to view arrays as images.  It uses PyQtGraph as Alexey suggested and so far works with 2D and 3D Arrays; however, it assumes 3D arrays are (W,H,N) because that is how we are storing the images in our files.  Any feedback would be greatly appreciated.

[2015-05-12 05:35] alexey-naydenov commented on #11
Hi,
Feel free to fork/take pieces of code from VTPlot plugin. There is not much documentation but it works with the development branch. It might be easier to modify the existing plugin than to write one from scratch.
PS: I was busy with my new job this year but not helping with ViTables was nagging me for all this time. I will try to be more helpful in the near future.

[2015-05-18 17:47] kprussing commented on #11
Thanks for the offer.  I actually started trying to get going from scratch and managed to figure out the plugin system before offered a link.  I started writing up some notes on it, but that is a different topic.

I have managed to get the plugin to display all of the listed array shapes except for the (N,W*H) arrays.  I'm still working on how to handle the logic in those cases.  I added a menu op

[2015-06-02 15:05] 153957 opened #42 "Add option to make the row numbers start at 0"
Since indexes in Python also start at 0 it would be easier if the row numbering in ViTables also allows for row numbering that start at 0.

[2015-07-12 14:05] icarmi opened #45 "Strange unicode error when opening table"
Hello,

I'm new to ViTables so I may be doing something obviously wrong... :) But, I'm trying to open a table, and sometimes I get a strange unicode error. The reasons I find this strange are:
1. I'm not doing anything with special characters... Mostly numbers or strings that contain vanilla readable ascii characters...
2. Sometimes I get the error, and sometimes not, on the same table, depending

[2015-08-26 15:35] nikoskaragiannakis commented on #45
I get a similar error message:

[code]

I opened the h5 file in ipython, where I didn't have any problem in reading the data inside every table.

[2015-09-09 18:34] jpfairbanks opened #47 "conda-env"
Hi I just started using your ViTables and figured that some people who use it would benefit from a conda-env that had all the dependencies. If they run  `conda env environment.yml` where environment.yml is the following text, it will install all of the dependencies into a conda virtual environment. It took me a few minutes to put it together, and I figured that I would save someone else those few

[2015-09-16 13:50] cippo1987 commented on #18
It works for me, but it is impossible to extract a subsection of a dimension>2 dataset.

[2015-11-16 06:00] QuLogic commented on #24
So is there any idea when a new release might be generated? Python 3 support is there in the develop branch, and it'd be great to get that into Fedora since they're moving to Python 3-only by default.

[2016-02-18 16:39] bobatsar commented on #45
I seem to have the same error running vitables on linux mint. Anyone any suggestions how to fix this? The same file can be opened in vitables on win7.

[2016-02-25 17:06] ym80 opened #48 "where can i found a windows installer for Vitables"
please would mind helping me,

where can i found a windows installer for Vitables?
i have already installed pytables

my python version is 3.4

[2016-02-26 08:33] ym80 commented on #48
Would you please tell where can i found a vitable installer (.exe)
plateform : windows
python : 3.4
Thanks in advance
regards

[2016-02-26 09:18] uvemas commented on #48
Hi ym80,

links to available installers can be found in the [ViTables SourceForge page](https://sourceforge.net/projects/vitables/files/?source=navbar/).

Unfortunately there is no Windows installer for Python3.4. Currently the ViTables project is nearly unmaintained so I don't forsee the release of new installers anytime soon. If you want to help and contribute to the project (fixing bugs, writin

[2016-02-26 09:30] ym80 commented on #48
Thank you

[2016-02-26 09:34] #48 closed

[2016-04-19 15:30] SimonChicago opened #49 "Python 3.5 support?"
Is there a way to install ViTables on a Python 3.5 linux machine? Thanks!

[2016-04-21 09:48] gdementen commented on #47
As far as I know, the only direct dependencies are pyqt and pytables, numpy should be pulled by pytables, sip by pyqt, and h5py is not required.

[2016-08-19 07:37] marfel opened #50 "Compatibility with new PyQt version?"
Hi,

I recently updated my Ubuntu 16.04 system to include the newest PyQt package (for QGIS), and now vitables fails to start:

[code]

I found a very old reference to this Qt API issue here:
http://osdir.com/ml/python-ipython-user/2012-02/msg00095.html

But the suggested solutions don't help. I'm not a Qt guy so I don't know how to fix this. Anyone help?
Thanks,
Martin

[2016-09-23 14:33] drc-bsorenson opened #51 "Query raise unhandled type error exception"
On windows, when running a query, the user may get

    TypeError: slice indices must be integers or None or have an __index__ method

when running a query from ViTables.

The problem comes from this line in both `Query.queryWithNoIndex()`, and `Query.queryWithIndex()` (115 and 178, respectively).

    div = numpy.divide(stop - start, chunk_size)

This may return  a `float` instead of an `int` bec

[2016-09-24 18:57] uvemas commented on #51
The problem should be fixed after merging the pull request #52.

[2016-09-24 18:57] #51 closed

[2016-09-28 19:50] joonro commented on #49
I just checked out the `develop` branch, and manually installed it with `python setup.py install`, and it seems to be working fine. I'm on Windows (Python 3.5.2, 64bit, Anaconda distribution), but I'm sure it will work fine in GNU/Linux as well.

[2016-11-13 06:18] shacharm2 opened #54 "PyTables error"
PyTables version 3.3.0
Trying to load any HDF5, or even openning ViTables results in an error.
It seems the pytables version changed names, such as openFile -> open_file
ViTables does not recognize it

File "/usr/share/vitables/vitables/h5db/dbDoc.py", line 115, in openH5File
    h5file = tables.openFile(self.filepath, self.mode)
AttributeError: 'module' object has no attribute 'openFile'

[2016-11-14 19:03] uvemas commented on #54
Well, it seems that PyTables has migrated to its new API (see http://www.pytables.org/MIGRATING_TO_3.x.html, section Major API Changes) and the old API is not supported in PyTables 3.3.0 (accordingly to your bug report).  Unfortunately I have not migrated ViTables to use the new API. I will try to upgrade ViTables (help is really welcome) but until it happens I think your best option is to use an

[2016-11-24 10:11] equaeghe commented on #24
Perhaps making a new release should be separated from uploading to PyPI. Next to Python 3 support becoming more important, there's also the Qt4-to-Qt5 transition.

[2017-01-24 08:54] equaeghe opened #55 "soft link support"
I have a dataset with soft links (made using h5py). In ViTables, the parent Group of a number of softlinked Groups does say in its properties that there are children, but does not list them. Also in the tree view, these Groups and their children are not listed.

[2017-01-26 17:53] Kyrish opened #56 "Develop version won't start"
Immediately after start, I had following issue:
alex@cylon:~$ vitables

Traceback (most recent call last):
  File "/usr/local/bin/vitables", line 7, in <module>
    from vitables.start import gui
  File "/usr/local/lib/python2.7/dist-packages/vitables/start.py", line 37, in <module>
    from vitables.vtapp import VTApp
  File "/usr/local/lib/python2.7/dist-packages/vitables/vtapp.py", line 37, in

[2017-02-23 02:42] heroxbd opened #58 "Migrate to PyTables 3 API"
Since PyTables-3.3, the PyTables 2 API is removed.  It breaks ViTables like:

[code]
Reference: http://www.pytables.org/MIGRATING_TO_3.x.html
Downstream bug: https://bugs.gentoo.org/show_bug.cgi?id=610636

[2017-04-14 17:57] nocturnals commented on #58
I've created a branch in my repo ( nocturnals/ViTables/tree/tables34 ) and it looks to be working. It's by no means properly tested. Not sure what the workflow is in this repo, but feel free to pull/merge/whatever.

[2017-04-20 17:03] uvemas commented on #58
Thanks for the bug report and for the new branch. I'm trying to find some spare time to work on ViTables but it is not an easy task.

[2017-04-24 22:47] ankostis commented on #50
You may try @alexey-naydenov qt5 branch (I've ben working on it lately):

    pip install git+https://github.com/ankostis/ViTables@qt5

And then, lauch it:

    vitables

[2017-04-24 23:00] ankostis commented on #35
Maybe somenone shoudlimplement another MVC based on pandas dataFrames,
similar to `vitables.vttables` package.
Does this make sense?

[2017-04-24 23:16] ankostis commented on #48
Actually on Windows I've managed to run it using [WinPython](http://winpython.github.io/)[1] ans it runs just fine.  Use my very latest dev-derived branch:

    pip install git+https://github.com/ankostis/ViTables@qt5

[1] I've be using WinPython for the last 3 years and have solved all those pesky native dependencies problems on *Windows*.
WinPython it is a *regular* (no conda) python distributio

[2017-04-25 17:45] #40 closed

[2017-04-25 17:45] #49 closed

[2017-04-25 22:37] ankostis commented on #35
@uvemas (and @lkjlkj9asjpd9jp) I finally did the sacrilegious cludge and used *pandas* when reading DataFrame-created `tables`.
It just works, ie assumes well-behaved dataframes, no vertical-index, etc.
Yoy can find it in my `pandas` branch (efa60b2fab).

I had to move some methods from the model to the buffer, where all the *"is df"* logic currently resides.
Having done that, I believe is not rig

[2017-04-26 03:36] ankostis commented on #58
I Have run [`pt2to3` tool](http://www.pytables.org/usersguide/utilities.html?highlight=pt2to3#pt2to3) on the sources and according to that, branch `no_focus_on_click` from #60 (aa44849) is completely migrated.

[2017-04-30 08:58] stonebig opened #61 "current master doesn't seem to work on WinPython-64bit-3.5.3.0Qt5"
Hi,

I compiled and install current master of 2017-04-29 on WinPython-64bit-3.5.3.0Qt5, and:
- the splashscreen appears,
- then .... nothing, and I don't know where to look for error report.

Any idea on how to fingerpoint the problem ?

[2017-04-30 09:02] stonebig opened #62 "move to (vendored or not) QtPy"
a move of Pytables off from a direct Qt interface to an indirect "QtPy" would make it:
- usable for PyQt4/PyQt5/PySide2.
- more resistant to another Qt version change.

[2017-04-30 10:52] stonebig opened #63 "Problem on Windows/PyQt5.8.2, trying master tree (since Qt5 merge)"
launching via
[code]

I fall on this error:
[code]

[2017-04-30 10:58] stonebig commented on #63
maybe I miss a default/previous/empty  hdf5 database ?

[2017-04-30 12:10] stonebig commented on #61
replaced per issue https://github.com/uvemas/ViTables/issues/63

[2017-04-30 12:10] #61 closed

[2017-04-30 12:29] stonebig commented on #63
I see no create_index function in DBsTreeModel class . shouldn't this apply on a column ?

[2017-04-30 12:51] stonebig commented on #63
if  I make the line inoperant the gui opens :
[code]

[2017-04-30 13:54] stonebig commented on #63
the "2' error seems to com from command line  interpretor error on "-v 2"

[2017-04-30 20:28] ankostis commented on #63
Thank you @stonebig for the interest, it is really a nice program.
I will take a look at the problem, but I'm not promising results, it's the first time I programmed in Qt5.

[2017-05-01 00:17] ankostis commented on #63
Fixed by #64 PR.

[2017-05-02 16:15] #63 closed

[2017-05-02 16:28] ankostis commented on #63
@uvemas do you think that current-master is ready for a PyPi release?

@stonebig may prefer a stable "wheel" to work with.

[2017-05-02 16:32] uvemas commented on #58
I've just tested (not in depth) the master branch on Windows 10 with python-3.6, tables-3.4 and PyQt5.8 and the problem seems to be fixed so I close the bug.

[2017-05-02 16:32] #58 closed

[2017-05-02 16:36] uvemas commented on #54
The problem should be fixed with commit a7dc694 so I close the bug.

[2017-05-02 16:36] #54 closed

[2017-05-02 16:38] uvemas commented on #50
The problem should be fixed with the most recent merges so I close the bug.

[2017-05-02 16:38] #50 closed

[2017-05-02 16:49] ankostis commented on #56
I tested generated wheel from `2.2.1.dev0` (master@a7dc69420e) and it now works.

[2017-05-02 16:50] ankostis commented on #42
I agree on that - that would also make sense when viewing pandas dataframes.

[2017-05-02 16:58] uvemas commented on #63
As I said in other thread I have not tested the current-master in depth. So I prefer to wait before doing a PyPi/wheel/anything release.

[2017-05-02 19:07] 153957 commented on #42
@ankostis perhaps you could make a pull request for your commit?

[2017-05-03 01:05] cgohlke commented on #62
This might be as easy as replacing (case sensitive) `PyQt5 -> qtpy` and `QtCore.pyqt -> QtCore.` in all `.py` files. Seems to work for me with QtPy-1.2.1 and PyQt4-4.11.4 on Python 3.6, Windows.

[2017-05-03 10:24] ankostis commented on #42
done it.

[2017-05-03 18:17] stonebig commented on #62
what about "@QtCore.pyqtSlot" ? should it be replaced also per "@pyqtSlot" ?

[2017-05-03 18:24] stonebig commented on #62
I'll suppose yes

[2017-05-03 18:30] stonebig commented on #62
issue, I may have done something wrong.

[2017-05-04 09:19] heroxbd commented on #58
Thanks a lot guys!

Does it make sense to make a new release?  The latest version 2.1 was released in 2011.

[2017-05-04 10:38] ankostis commented on #58
I believe it is about time release it, since it is installable with `pip`.

I would recommend a new release also for other reasons:
- @stonebig has started vendorizing QT5/4.
- I have started (8cf74e41) adding functionality as a new plugin(?) to use pandas to read from tables that have been saved from dataframes.

So it would make sense to have a release without exotic stuff, just what has been lu

[2017-05-04 21:50] stonebig commented on #62
as I wrote in the pull request, cgohlke patch is working great.

[2017-05-06 06:27] #62 closed

[2017-05-06 09:46] #42 closed

[2017-05-06 17:58] stonebig commented on #42
any release plan for tonight ?

[2017-05-06 19:18] uvemas commented on #42
Unfortunately not. Today I've fixed some obvious things but as I said in other thread (sorry I don't remember which one) I want to test the current version more in depth and fix important bugs, if any. I'll release after testing.

[2017-05-06 21:51] nocturnals commented on #58
For pure egotistical reasons, I would also like a new release.
I've upgraded my linux distro (ubuntu) and the newer pytables in the packaging system broke vitables.

@heroxbd  also mentioned that it was broken on the gentoo distro. So by releasing you'll help users from at least 2 distros. (probably more)

[2017-05-07 07:55] uvemas commented on #58
I'm **really** sorry for making you wait. I want a new release as well. And I want it ASAP. But as I've already said in #63 and #42 I prefer to do some testing before the release and try to fix most important or annoying bugs I find.

[2017-05-07 12:57] nocturnals commented on #58
How can I help in testing?

[2017-05-07 21:15] shacharm2 commented on #54
@uvemas checking it out

[2017-05-07 21:24] shacharm2 commented on #54
@uvemas - tested and verified on Ubuntu 16.04 + python3
thumbs up!

also tested not to work with python2 - does not work due str() that receives a utf-8 encoding

[2017-05-08 17:02] uvemas commented on #58
@nocturnals I don't know if you're very kind or very impatient :-) but THANKS for your offer. I'm currently testing on Windows 10. So maybe you could test the master branch on Linux? Unfortunately I cannot find my testing howto so I cannot give you detailed instructions. What I'm doing is simply testing the menus of the menu bar one at a time (first the File menu, then the Nodes menu, then Dataset

[2017-05-13 18:59] nocturnals commented on #58
### Running:
I did find a minor error when testing. When I click help->about vitables I get:
[code]
I'm testing it on ubuntu 17.01 with:
[code]
Everything else appears to be working. I didn't test dataset->calculate because I don't know how to use it and was also missing from the docs.

### Installing:
I don't have enough experience with python so I maybe I did several things wrong.

I can build t

[2017-05-14 08:22] uvemas commented on #58
Great to know you're testing on Python2 because currently I don't have such environment available.

Yes, str() in Python 2 takes only one argument and in Python 3 can take two more arguments. You can try to  remove the second argument but I don't think it works properly. I think your best bet is to do license_text.decode('UTF-8') as license_text is a bytes object.

Now for the documentation. It is

[2017-05-16 16:41] scopatz opened #67 "Release tag that supports Python 3"
Hello! I am trying to put together a conda-forge package for vitables.  Right now I am running into the issue that v2.1 only support Python 2. However, it seems like develop should support Python 3.  Is there an expected timeline on when a v2.2 will be tagged? Thanks!

[2017-05-16 19:45] uvemas commented on #67
Hi! Actually the repo is somewhat a mess. That's my fault, I have no time to keep it tidy and updated. The develop branch is not very active and the python3-support one is dead. Currently most of PR go to the master branch, which supports Python3, PyTables3 PyQt5 and QtPy so your package should be based on master. At the moment I'm fixing bugs as fast as I can. I suspect/know that there are a few

[2017-05-16 20:18] ankostis commented on #67
Hi @uvemas, why don't release a beta to pypi?
So interested parties can install it only using `pip install --pre`.

[2017-05-17 16:15] scopatz commented on #67
Hi @uvemas, no worries, I fully understand.  To second @ankostis, even a v2.2-pre tag on github would be helpful.

[2017-05-30 15:51] uvemas commented on #67
Hi,
first of all sorry for the delay. I've just commited and tagged the latest release. Unfortunately I cannot upload the packages to PyPI:

$ twine.exe upload dist/*
Uploading distributions to https://pypi.python.org/pypi
Uploading ViTables-3.0.0.tar.gz
[================================] 864987/864987 - 00:00:01
HTTPError: 403 Client Error: You are not allowed to edit 'ViTables' package informati

[2017-05-30 17:14] scopatz commented on #67
Thanks @uvemas! I have a recipe for conda-forge submitted at conda-forge/stage-recipes#3052. If anyone wants to be a maintainer, please let me know!

Also, I am happy to close this, or if you want to wait for the pypi issue to be resolved, that is OK too.

[2017-05-30 17:59] uvemas commented on #67
Hi @scopatz. I don't know conda but Francesc Alted told me a few days ago that it is really nice and is the favorite packaging system among scientists so I'll have a look to it when I have some spare time (maybe next year :-)

[2017-05-30 17:59] #67 closed

[2017-05-30 18:09] uvemas opened #68 "Help needed: Testimonials section of ViTables website"
Hi all,

I'd like to improve the Testimonials section of vitables.org so it would be great if some of you send me a few words about how you use ViTables, why  do you like it and so. You can send me your quotes by mail or simply add them to this thread.

TIA

[2017-05-30 18:44] scopatz commented on #67
Haha!

[2017-06-02 15:09] uvemas commented on #47
A conda environment is provided in the 3.0.0 release.

[2017-06-02 15:09] #47 closed

[2017-06-02 15:21] uvemas commented on #24
I have prepared source and wheel packages of the 3.0.0 release but I cannot upload them to PyPI. The reason seems to be that @alexey-naydenov uploaded an older release in the past and now I have no permission to upload the new packages. Please, @alexey-naydenov contact me in order to fix this problem. Thanks.

[2017-06-02 15:44] uvemas commented on #45
unicode() is not used in the 3.0.0 release so I assume the bug is not present now and consider the bug closed. If you keep having unicode problems please file a new bug.

[2017-06-02 15:44] #45 closed

[2017-06-02 15:47] uvemas commented on #32
Current release doesn't have a Windows installer so I close this bug.

[2017-06-02 15:47] #32 closed

[2017-06-05 21:32] teslatech opened #69 "pytables now uses open_file instead of openFile"
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/vitables/h5db/dbDoc.py", line 115, in openH5File
    h5file = tables.openFile(self.filepath, self.mode)
AttributeError: 'module' object has no attribute 'openFile'

pytables uses tables.open_file()

[2017-06-06 14:53] uvemas commented on #69
Please, use a recent version  of ViTables. A few days ago 3.0.0 was released. I sent the announce to Python announce list but it is a moderated list...

[2017-06-06 14:53] #69 closed

[2017-06-06 14:58] teslatech commented on #69
Sorry.  Just saw the package got flagged as out-of-date in my OS
repository.  Was rushing around too much at work yesterday.

BC

On Tue, Jun 6, 2017 at 7:53 AM, uvemas <notifications@github.com> wrote:

[2017-06-06 15:07] uvemas commented on #69
No problem :-) Please, if you like the new version, consider give me a hand with #68. It would be great to have some more quotes there.

[2017-06-06 18:51] uvemas commented on #25
Currently the plugin description is not used for UID.

[2017-06-06 18:51] #25 closed

[2017-06-14 14:12] ankostis opened #72 "Why use plugins instead of enable/disable checkboxes in preferences?"
I've been trying to add support for pandas-dataframes and I stumbled upon this architectural issue:

Reading pandas-dataframes obviously require `pandas` as dependency.  For features demanding extra dependencies the [`setuptools` plugin mechanism](http://setuptools.readthedocs.io/en/latest/setuptools.html#dynamic-discovery-of-services-and-plugins) is a perfect match: just add a new `extras_require

[2017-06-14 20:15] uvemas commented on #72
Yes, you are right. Automatically enabling plugins if dependencies are installed should be the way to go. I add it to my TODO.

[2017-06-14 20:17] ankostis commented on #72
Additionally, why is CSV functionality a plugin?

[2017-06-15 17:54] uvemas commented on #72
What's wrong with it? Why do you think it should be part of the ViTables' core?

[2017-06-24 23:46] jgarci40 opened #74 "Cannot Run ViTables 3.0.0 with Anaconda 4.4.0 and Python 3.6 on macOS Sierra 10.12.5"
I have installed ViTables 3.0.0 using Anaconda 4.4.0 and Python 3.6, using the following command:

[code]

Unfortunately, after attempting to run vitables, I get the following error:

[code]

I am using macOS Sierra 10.12.5.

I have also tried installing ViTables using source and ```python setup.py install```. I have further attempted using Anaconda 4.4.0 with Python 2.7. None of these attempts ha

[2017-06-25 06:55] uvemas commented on #74
Hi Joshua,

I'm afraid I cannot help you very much. I have no Mac OS X platforms available for testing your problem. And I'm not the conda packager or an Anaconda user.

Installing from sources works fine here (Windows and Linux).

At the moment two things come to my mind:
- firstly I'm going to install Anaconda and ViTables and see how it works for me. This could help if the problem is not Mac OS

[2017-06-25 09:09] uvemas commented on #74
With a fresh installation of Anaconda on Windows I can install ViTables from sources and run it successfully (I met an installation problem about PyQt5 not being found. As I know it is installed I simply have removed the PyQt5 requirement from the install_requires line in setup.py). Hope it helps.

If you find a solution to your problems with the conda package (maybe in some conda forum or in stac

[2017-06-25 10:38] jgarci40 commented on #74
I pulled down the latest ViTables from GitHub. After intially running ```python setup.py install```, I ran into an issue with PyQt5 like you did. Similar to your case, I also verified that PyQt5 was already installed, so I removed the requirement from install_requires in setup.py, as you suggested. That worked for me. Thanks for the help!

[2017-06-25 10:38] #74 closed

[2017-07-07 18:19] wbagdon opened #75 "Vitables on Windows"
I'm trying to run Vitables from conda-forge on Windows.

I try running it like this:
[code]
There is no output at all on the command line

If I run `python <condapath>\pkgs\vitables-3.0.0-0\Lib\site-packages\vitables\start.py` I can get the GUI up, but get errors stating:
[code]
I have pyqt 5.6.0 installed via the conda install process so I'm not sure why it's not being picked up

[2017-07-08 06:43] uvemas commented on #75
I cannot do any checks right now, I've no computers available. But yes, it
seems a problem with PyQt5. Please read the FAQ in the ViTables website.
The last entry explains how to deal with the problem. And tell me if it
works please. Hope it helps.

On Fri, Jul 7, 2017, 20:19 Bill Bagdon <notifications@github.com> wrote:

--
Share what you know, learn what you don't

[2017-07-08 17:08] ankostis commented on #72
CSV functionality for dataframes is very easy to offer, but to reuse the menu items it needs the plug-in enabled.
A plug-in that has no extra dependencies, just code that offers a very useful functionality.  So why not add  it to the core and simplify things?

[2017-07-08 18:27] uvemas commented on #72
I see your point. I have to rethink the whole plugins thing. Anyway, if it
helps you I'll add CSV to the main code, but not this weekend (I've not
even a computer here, just my smartphone)

On Sat, Jul 8, 2017, 19:08 Kostis Anagnostopoulos <notifications@github.com>
wrote:

--
Share what you know, learn what you don't

[2017-07-11 14:30] uvemas commented on #75
No feedback from OP. I assume the problem is fixed and close the bug.

[2017-07-11 14:42] wbagdon commented on #75
Ehm, no.
I tried running through your FAQ and removing the line `PyQt5 (>=5.5.1)` and nothing has changed.

[2017-07-11 18:18] uvemas commented on #75
Iep! Hi again. That's strange. Reviewing your post I see you said:

[code]

I don't understand why you  execute the first two lines (I'm not an Anaconda user, sorry). AFAIK in order to install the conda package from the Anaconda prompt you only need to do:

`(Anaconda3)> conda install -c conda-forge vitables`

Then, run vitables with (providing a proper path of course):

`(Anaconda3)> C:\Users\vic

[2017-07-11 18:45] uvemas commented on #75
You can also try to install from sources.

[2017-07-11 19:13] wbagdon commented on #75
The first two lines are to:
1) create the conda environment
2) activate the environment

Activating the environment adds the environment to PATH
[code]

After I do this, I expect running `vitables` to start ViTables, but it does not.
I've tried building the conda package from sources, but I have the same problems.

[2017-07-11 19:47] uvemas commented on #75
Thanks a lot for the info about the first two lines.

I've found one more place where the requires.txt file exists when you install the conda package:

`C:\Users\vicente\Anaconda3\Lib\site-packages\ViTables-3.0.0-py2.7.egg-info`

Can you remove the PyQt5 requirement from there and tell me what happens, please?

[2017-07-11 20:27] uvemas commented on #75
Thanks a lot for the info about the first two lines.

I've uninstalled ViTables from my Anaconda3 system and I've done a fresh installation following your instructions (first create the environment, then install the package). I've had to explicitely install qtpy. Apart from this, the installation was fine. When running vitables I met the same problems as you. Again, removing the PyQt5 requirement

[2017-07-14 12:21] wbagdon commented on #75
OK installing qtpy manually was the missing step.
Not sure why it doesn't get installed automatically...

[2017-07-14 12:29] wbagdon commented on #75
Looks like it is not included in the run requirements:
https://github.com/conda-forge/vitables-feedstock/blob/master/recipe/meta.yaml
Can we get this added?

[2017-07-14 14:25] uvemas commented on #75
Thanks for coming back.

I'm going to create an issue at vitables-feedstock.

[2017-07-14 15:31] wbagdon commented on #75
It would also be helpful to either:
1. Have a specific conda.setup.py file that the script calls which removes the PyQt5 install requirement
2. During the conda build, remove that requirement from setup.py

For 2, it would just be a matter of moving the script from `meta.yaml` to `bld.bat` and `build.sh` with a step to find and remove that string.
This is difficult in batch because of the formatti

[2017-07-17 17:56] uvemas commented on #72
The CSV capabilities have been added to the core. Hope that helps you.

[2017-07-17 20:13] uvemas commented on #75
As you can now install and a new vitables package has been uploaded to conda-forge (now the recipe includes the qtpy dependecy) I'm closing this bug. I add your latest suggestions to my TODO.

Thanks a lot for your help.

[2017-07-17 20:13] #75 closed

[2017-07-23 10:00] marfel opened #76 "PyQt5 requirements obsolete?"
Hi,
when I install and run `vitables` on a relatively clean Ubuntu 16.04/Python2.7 server using conda, I get

[code]

However, `conda search pyqt` yields

[code]

I am no expert in setuptools, conda, Qt and other such higher magic. But if I simply remove the line `PyQt5 (>=5.5.1)` from

[code]
the program runs flawlessly. Is this the intented behaviour?

[2017-07-23 19:50] uvemas commented on #76
No, it is not intended behavior. It is a compatibility problem mentioned in the [last entry of the ViTables FAQ](http://vitables.org/Docs/faq.html#can-i-use-vitables-with-anaconda3). I'll try to get it fixed in the next release. Thanks for your report.

[2017-07-24 07:30] marfel commented on #76
Ah, sorry, I overlooked the FAQ entry (we are using miniconda, not the full Anaconda suite). But since you already have this on the radar, feel free to close this issue.

[2017-07-24 15:42] uvemas commented on #76
No problem. Thanks for the report.

[2017-07-24 15:42] #76 closed

[2017-07-25 14:05] marfel opened #77 "Timeseries broken for Python2.7 installs"
Hi, it seems to me the `time_series` plugin has issues with the Python2.7 `ConfigParser`. The plugin throws an error unless I do this:

[code]

[2017-07-26 09:04] uvemas commented on #77
Hi. Thanks for the report. I wasn't aware of this issue. I suppose the problems are caused by the changes in the configparser module introduced in Python3. I'll have a look ASAP and let you know if I find a better solution.

Thanks again.

[2017-08-15 10:43] cyanate opened #78 "ViTables fails to detect PyQt5"
I'm using Arch and _have_ python-qtpy and python-pyqt5 (v 5.9) installed, but ViTables anyway doesn't detect it:
[code]

[2017-08-15 16:31] uvemas commented on #78
Can you provide some more information please? In particular, how is ViTables installed? conda-forge package, wheel, source, cloned repo?

[2017-08-27 13:58] uvemas commented on #78
After a long time there is no feedback from the original poster so I assume the problem has been fixed and close the bug (although I'd like to know what is the solution of the problem. That info could be useful for other users).

[2017-08-27 13:58] #78 closed

[2017-08-30 14:41] mivade opened #79 "PyQt5 requirement prevents install"
Running `python setup.py install` yields the following:

[code]

This is despite having PyQt 5.6.0 installed:

[code]

PyQt requirements from PyPI are generally rather tricky. A better approach would be to try to import it and tell the user how to obtain it if it's not found.

[2017-08-30 16:01] uvemas commented on #79
Hi @mivade. Please, have a look to the [last entry of the FAQ](http://vitables.org/Docs/faq.html#can-i-use-vitables-with-anaconda3) in the ViTables website and tell me if the suggested solution works for you. I hope it will.

[2017-08-30 16:43] mivade commented on #79
I was able to install it by commenting out the PyQt requirement in `setup.py`, but considering that many users of ViTables are likely using miniconda/Anaconda already, I think this should be handled more gracefully.

For what it's worth, I also had issues with the conda-forge package (which is why I tried installing from source in the first place).

[2017-08-30 17:02] uvemas commented on #79
Do you think a new release is required? Right now I've no new features, just some refactored code. And I'm not sure about how to deal with the PyQt5 issue. Do you think I should simply remove the requirement and print a message if the dependency is not satisfied?

[2017-08-30 18:27] mivade commented on #79
I don't think a new release is required (although the PyPI package is considerably out of date). Failing with a message with hints about how to install PyQt5 seems sufficient to me.

[2017-08-30 18:42] uvemas commented on #79
Unfortunately the PyPI problem seems difficult to fix. Somebody (not me) published the 2.1 version when it was realeased and now I've  no permissions for uploading the package to PyPI. I've asked for help to PyPI support team with no luck. If you have some idea I'll be glad to hear it.

[2017-08-30 18:49] mivade commented on #79
Hm. From what I understand the only way to get package ownership is to get the existing owner to give it to you. How annoying.

[2017-08-30 20:29] uvemas commented on #79
Yes, but as I told you the support guys are not very responsive. Anyway, thanks for your bug report and for your suggestions :-) I'll try to fix the problems with packages ASAP.

[2017-08-30 21:35] ankostis commented on #79
My preference for this problem would be for anaconda-issues/issues#1554  to address this.  Because that is where the PyPi name is abused.  Breaking `pip` dependencies is not a good omen.

If however it is deemed preferable to remove hard dependency, substituting it with one (or 2 for conda/pip packages) [optional dependencies](https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-e

[2017-08-31 00:31] mivade commented on #79
Optional dependencies does seem like a reasonable way to handle this. I agree though that fixing the upstream issue with conda would be optimal.

[2017-08-31 13:57] uvemas commented on #79
Hi @ankostis, nice to hear from you again! Do you mean I should include in setup.py something like this?

[code]
Not sure about the syntax in the above example. Also I've not found a sys_version marker in the PEP 508.

[2017-08-31 22:03] kylekeppler commented on #79
Ran into this problem today. The FAQ was pretty confusing. What worked for me:

[code]
[code]
edit `Anaconda3\pkgs\vitables-3.0.0-0\Lib\site-packages\ViTables-3.0.0.egg-info\requires.txt` to remove the PyQt5 line
[code]

Now `vitables` runs the app.

Maybe make the PyQt5 requirement optional and print a warning to stdout about how to install it.

[2017-08-31 23:37] ankostis commented on #79
@uvemas you are right!
There is no way to detect Anaconda from environment markers (results of the methods in `platform` package).

A plain *extra_requires* to `PyQt5` is the only alternative i can see.
And it would burden the `pip` users, although conda is not the good citizen here :-(

[2017-09-01 19:20] uvemas commented on #79
Well, this is the simplest workaround I've found. Please, let me know if you see some serious problem with it:

[code]

I've tested it installing a ViTables tarball and it works just fine.

[2017-09-02 07:09] ankostis commented on #79
That's straight forward and simple.
The only drawbacks that i can think of are minor points, related to pre-packaged wheels:
1. Wheels will not install in conda (`pip install` still will not work),
2. remember to build your PyPi wheels in a non-conda environment.

[2017-09-02 11:52] DavidLP commented on #79
Maybe it is easier and sufficient to get vitables into the conda repository?

[2017-09-02 11:58] uvemas commented on #79
Yes, I'm aware of the drawbacks but as you say they are minor. Now my question is: can we have this workaround included in a new conda-forge package without publishing a new vitables release?

[2017-09-02 12:12] uvemas commented on #79
Sorry David, I didn't see your post. Getting ViTables on the conda repo does not depend on me. Currently ViTables is in the conda-forge channel which I suppose is run by volunteers. And I don't know how this channel works internally so I'm not sure how to get the workaround included in a new package.

[2017-09-04 08:16] uvemas commented on #79
Ok, I've asked to the package maintainer how to proceed in order to build a new conda-forge package with the new setup.py. Now we have to wait his answer.

[2017-09-06 15:21] mivade opened #81 "Add support for PyTables's filenodes"
Currently PyTables filenodes are displayed as an array of integers. It would be nice if ViTables detected that it was a filenode and display as a (byte) string instead. This is detectable via the `NODE_TYPE` attribute with value `file`.

[2017-09-06 15:23] mivade commented on #77
The easiest fix here is to require on the [backported](https://pypi.python.org/pypi/configparser/3.5.0) `configparser` module for Python 2.7.

[2017-09-16 07:16] heroxbd commented on #79
@uvemas Why does vitables depend on PyQt5 when all the calls are handled by QtPy?

https://github.com/uvemas/ViTables/issues/62
https://github.com/uvemas/ViTables/pull/66

I uninstalled PyQt5 and removed the entry in egg-info/requires.txt.  And vitables runs well with PyQt4.

[2017-09-21 21:18] uvemas commented on #81
Done in a0852cc. The support is basic, not very sophisticated. A filenode with just 100000 short lines takes about 40 seconds to open on my laptop because a VLArray container needs to be created and populated. Once this is done  you can close and open the filenode as fast as any other dataset. I will try to optimize the current implementation but right now I think it is not easy (but maybe I'm a l

[2017-09-23 15:36] uvemas commented on #81
Things work better in d45f008. Now a filenode with one million short lines takes about 40 seconds to open for the very first time so opening time has improved one order of magnitude. It is still too poor performance but I hope it helps you. Unfortunately I don't know how to keep improving the performance so I'm closing the bug. Please, let me know if you have some suggestion.

[2017-09-23 15:36] #81 closed

[2017-09-28 13:05] heroxbd commented on #56
Let's close this issue.

[2017-09-28 16:31] #55 closed

[2017-09-28 16:35] #56 closed

[2017-10-05 11:18] laborleben opened #83 "Blank fields in ViTables"
As of commit https://github.com/uvemas/ViTables/commit/d45f00811f21b9ea30b6e33931b2ecd9b4aa213f the fields are blank.

The issue is in line https://github.com/uvemas/ViTables/blame/d45f00811f21b9ea30b6e33931b2ecd9b4aa213f/vitables/vttables/leaf_model.py#L126, which should not be indented.

[2017-10-05 12:06] uvemas commented on #83
Just merged. Thanks a lot!

[2017-10-05 12:06] #83 closed

[2017-10-19 14:11] laborleben opened #86 "Showing large EArrays is slow"
Showing large EArray is pretty slow since the buffer is not used and the whole EArray is loaded on each access.

[2017-10-20 12:00] uvemas commented on #86
Thanks for your report. Yes, I know that displaying large EArrays is slow, but an EArray is a somewhat difficult object. For instance, your suggested PR fails to show all array elements if the shape is something like (2, 0, 3), where 0 indicates the enlargable dimension. If you can rework your PR so that it works for that kind of shapes I will be really happy merging it.

[2017-10-20 15:48] laborleben commented on #86
OK, I understand. I fixed it in the PR. I tested with shapes (2,3,0), (2,0,3), (0,),with StringAtom and UIntAtom, and multiple lengths (zero length to pretty huge arrays). Seems to work for me. Someone adding unit tests would be also great.

[2017-10-20 17:08] uvemas commented on #86
Wow! You've been really fast! Many thanks for your PR. And yes, you are right about unit tests. The whole ViTables lacks of unit tests. I'm working on them, but the work progresses slowly.

[2017-10-20 17:08] #86 closed

[2017-10-20 17:23] laborleben commented on #86
Thank you!

[2017-11-05 09:03] mikeun opened #88 "DataFrame lost columns"
I created hdf5 by pandas DataFrame.
I opened it by vitables and can't find one column (last [-1]) and one column name (first [0]).
Column's names are shifted forward with missed first name and last column is hidden.
Table properties are shown all columns and names.
I use:
- ViTables 3.0.0;
- Python 3.6.2 |Anaconda custom (64-bit);
- Ubuntu 16.04

[2017-11-07 12:49] uvemas commented on #88
Thanks for your report. I think the problem here is that the DataFrame implementation (in the df_model.py) is not finished. I'll try to fix the problem but it can take some time to me as I'm not the author of the code.

[2017-11-07 13:06] ankostis commented on #88
@mikeun would it be possible to craft a code creating the dataframe?

[2017-11-07 13:33] uvemas commented on #88
I can reproduce the problem with this simple code:

`store = pd.HDFStore('my_store.hdf')`
`np.random.seed(1324)`
`index = pd.date_range('1/1/2017', periods=5)`
`df = pd.DataFrame(np.random.randn(5, 3), index=index, columns=['A', 'B', 'C'])`
`store.append('dataframe', df)`
`store.close()`

[2017-12-20 16:03] damiendr opened #89 "Add support for links to groups"
At the moment ViTables is not able to display links to groups (external in my case) — these are grayed out and an error is printed because LinkNode does not handle that case.

I have implemented a quick fix, actually two. I can submit a pull request if you want, but I'd need some input as none of these two quick fixes feel completely satisfactory.

#### Option A: insert the link itself into the no

[2017-12-20 16:59] uvemas commented on #89
I'll need some time to study the problem. I have to review the actual code dealing with links in ViTables, then consider your proposals and then decide what to do. But for doing all those things I would need some free time and currently I'm too busy. So all I can say now is that I will work on this issue as soon as possible. Sorry for not being more helpful. I'll let you know about any new on this

[2018-01-22 15:21] BrendanMartin opened #90 "Not showing hierarchical keys"
I used pandas' `store.put()` to create a hierarchical key:
`store.put('parent/child', dataframe)`

But ViTables doesn't show the 'parent' key or the 'child' key.

I am able to `store.select('parent/child')` the data back out, and the `store.keys()` method shows it in there, so the data is definitely stored.

Am I doing something wrong?

[2018-01-22 19:20] uvemas commented on #90
I haven't tested it by myself but I don't think you're doing anything wrong. It seems to me that the problem is simply that ViTables support of Panda is too primitive. It is work in progress, you know. Unfortunately I cannot work on ViTables since some time ago (I hope this situation will change in the future) so I cannot try to fix it. But if you can provide a PR I'll merge it.

[2018-01-22 19:41] ankostis commented on #90
This shouldn't be happening.

For instance, generating a new HDF wit this code:
[code]
... works fine.

`HDFStore` code work also fine:
[code]

But this creates an *incomplete* store,
[code]
...which breaks ViiTables on opening, with this log-message:
[code]
...which most likely seems unrelated to the pandas code,
correct @uvemas?

@BrendanMartin could it be that you forgot to close the store?

[2018-01-22 20:45] uvemas commented on #90
OMG! It's impossible to make mistakes when you are around :-) I've tested it and you're right @ankostis But I'm confused because @BrendanMartin doesn't mention any error message.

[2018-01-22 22:15] BrendanMartin commented on #90
@uvemas I don't see any log messages. But now that I just tried it again, I can see my keys now. I'm not sure why I couldn't see it earlier.

[2018-01-23 15:36] uvemas commented on #90
Ok, I assume it was just an isolated misbehavior. I'm going to close the issue. Feel free to reopen it if the problem appears again. Thanks to @BrendanMartin for reporting and to @ankostis for the great help.

[2018-01-23 15:36] #90 closed

[2018-03-01 08:50] Landau1908 commented on #75
As @wbagdon mentioned, vitables can't be launched either in windows cmd or conda cmd whether removing the line PyQt5 (>=5.5.1) or not if using conda installer, i.e. `conda install -c conda-forge vitables`.
So, this following works for me.
1/ Uninstall vitables in conda cmd, i.e. pip uninstall vitables.
2/Download windows installer, i.e. ViTables-3.0.0-py2.py3-none-any.whl, then install it in windo

[2018-03-01 15:28] ankostis commented on #75
Maybe *someone* can submit a new [conda recipe into feedstock](https://conda-forge.org/), and fix this once and for all...

[2018-04-05 09:37] laborleben commented on #79
Can't we just fix the missing-dependency-issue by removing ```PyQt5 (>=5.5.1)``` requirement from ```setup.py```? I have no issues with that (using Anaconda/Miniconda). If the requirement is missing the user will figure out and install the missing package. The current state is even more dissatisfying because it requires to edit the ```setup.py```.
There will be no final/good solutions, only practi

[2018-04-25 11:01] Kyrish commented on #56
The problem is still there. I'm on MacOs 10.12.6. Python 2.7 and Qt stuff are installed via Homebrew.
I'm doing: python setup.py install, so far so good. But when I try to run I get following:

alex$ vitables
Traceback (most recent call last):
  File "/usr/local/bin/vitables", line 11, in <module>
    load_entry_point('ViTables==2.2a1', 'gui_scripts', 'vitables')()
  File "/usr/local/lib/python2.7

[2018-04-30 11:11] benjello commented on #24
The problem is still pending ...

[2018-07-28 12:39] Civilduino opened #91 "Error on MAC High Sierra + miniconda 3"
Hi,

I have macOS High Sierra 10.13.5 and installed miniconda 3, followed by different packages as numpy, matplotlib, spyder and vitables. I first tried installing vitables directly from conda-forge but got a strange error. Then I tried cloning directly the GitHub and using the setup.py and it I got the same error again when trying to run vitables (see below):

yannie$ vitables
/Users/yannie/minic

[2018-07-28 14:00] uvemas commented on #91
Hi,

I have never seen this error before. Googling a little bit I've found these links:

https://github.com/ContinuumIO/anaconda-issues/issues/6678

https://stackoverflow.com/questions/40845304/runtimewarning-numpy-dtype-size-changed-may-indicate-binary-incompatibility#40846742

Hope it helps.

[2018-08-08 21:18] noraj commented on #24
https://pypi.org/project/ViTables/#history

there is only version 2.2a1 pre-release on pypi

also this version can't be installed

[code]

[2018-09-26 16:32] #88 closed

[2018-12-13 09:48] ankostis commented on #24
@alexey-naydenov seems to be active lately - maybe @uvemas you want to contact him again, and fix the permissions problem with PyPi.

[2018-12-13 17:21] uvemas commented on #24
Thanks @ankostis for let me know about it. I'll try to contact him ASAP.

[2018-12-14 14:51] uvemas commented on #24
Hi @alexey-naydenov. Thanks for coming back. I've just checked my PyPI account. Please transfer ownership of project to me (username is vmas).

[2018-12-14 15:19] alexey-naydenov commented on #24
Added you (vmas) as owner. It does not seem I can remove myself from the project, feel free to do so if you have such option. In any case you can now delete pypi project and recreate it.

[2018-12-14 17:55] uvemas commented on #24
OK. I've just removed you from the project. Thanks again for your help.

[2018-12-21 20:39] uvemas commented on #24
I've uploaded ViTables 3.0.0 to PyPI and checked that it installs fine in a virtual environment on Windows 10 and Ubuntu.

[2018-12-24 11:29] #24 closed, assigned to uvemas

[2019-01-09 11:57] vihoa commented on #6
Hi,
   I tried to develop the leaf editing function. Could you make me some hints how I can start?
Thanks,

[2019-01-14 16:20] vihoa opened #93 "Leaf data Edditing funtion"
Hi,
I tried to develop the leaf editing function for a research project. Could you make me some hints where I should start?
Thanks,

[2019-01-15 16:45] uvemas commented on #93
I close this issue because the request #6 has the same subject.

[2019-01-15 16:45] #93 closed

[2019-01-15 17:00] uvemas commented on #6
Hi and sorry for the delay in the answer.

As you see this is a not yet implemented feature since a long time ago. I've never had time to think deeply on it so I have no clever advices to give you specially if you want to start from scratch.

What have you tried? How do you want the feature to work: modifying existing values, adding new values...?

[2019-01-16 08:17] vihoa commented on #6
H,
  Thanks for your reply.  I only want to modify some values inside leaf tables. I just tried to ask to make sure I'm going the correct and fast route. If you can provide some hints, so I am very appreciated.
Regards,

[2019-06-11 17:44] dacoex opened #94 "Unable to create process under conda on Windows"
On Windows I installed vitables as instructed here:
https://anaconda.org/conda-forge/vitables

When starting via `viatables` in the conda command window in the same environment I get the following error:
![2019-06-11_vitables-from-conda-base-env_issue](https://user-images.githubusercontent.com/8660305/59294126-fbd12100-8c80-11e9-8e42-331555c39c12.png)

The program then aborts  :-(

Is this related

[2019-09-03 12:35] charlesbaynham commented on #94
I get the same error

[2019-11-08 16:27] marcets commented on #94
To make it work with Anaconda, I have download the zip file on the Vitables GitHub (ViTables-master.zip). After thay you have extracted the zip file, I have open a Command Prompt and I have run this line (note: you must be in the extracted file directory, ex: C:\Users\MyUser\Downloads\ViTables-master):

python setup.py install

After that, just run Vitables my typing in the command prompt (note: t

[2019-11-10 10:17] ankostis commented on #94
@uvema could it be due to `gui-scripts` entry-point in the `setup.py`?
I don't have good memories with this entry-point, both under Windows 7 Linux (e.g. stderr/stdout are blocked and app suffers a horrible death).

May i suggest to:
a) use simple `console_scripts` on the `setup.py`, and
b) retrofit conda-recipe to use [conda's `menuinst`](https://github.com/ContinuumIO/menuinst/wiki) to add launc

[2019-11-11 12:35] MartinThoma opened #95 "Allow copy cell value"
I use ViTables a lot to look at HDF5 files. Once in a while, I need to copy the value of a cell. This is not possible. Please allow this.

(Besides that: Awesome project!)

[2019-11-12 17:01] uvemas commented on #94
@ankostis thanks for your suggestions. I'll try to give a look to this problem ASAP.

[2019-12-27 21:27] uvemas commented on #94
In  release 3.0.2 I've replaced gui_scripts with console_scripts as suggested by @ankostis. Hope it helps (the conda package is not yet ready, https://github.com/conda-forge/vitables-feedstock/pull/14).

[2019-12-27 21:36] uvemas commented on #77
Closing this issue as Python-2.7 is currently not supported.

[2019-12-27 21:36] #77 closed

[2019-12-28 08:47] uvemas commented on #79
In version 3.0.2 the PyQt5 dependency is added conditionally (checking the CONDA_PREFIX environment variable). Now it seems that, if conda-forge package installation fails, ViTables can be installed just fine from PyPI:

`(base) conda create --name vitables pytables pyqt`
`(base) conda activate vitables`
`(vitables) pip install ViTables`

or downloading the source package:

`(vitables) python setu

[2020-01-06 09:25] uvemas commented on #94
The new conda package is available. You can try it and see if it works for you.

[2020-01-07 13:55] nilswagner opened #96 "pyside support?"
Does ViTables intend to support pyside?

[2020-01-07 19:05] uvemas commented on #96
Well, ViTables uses qtpy so in theory it supports pyside. But in practice there is a problem: vitables makes use of loadUIType() function from the uic module. It seems this function doesn't exist in pyside so vitables won't run out of the box with pyside. I don't plan to work on this issue in the next future (but PRs are welcome).

In addition it seems there are compatibility problems whit pip pac

[2020-01-08 06:50] avalentino commented on #96
Hi @uvemas, hi @nilswagner,
I submitted a PR (spyder-ide/qtpy#202) to QtPy providing an implementation of `loadUIType()`.
The PR has been still not accepted, but maybe you may want to give it a try.

[2020-01-08 19:11] uvemas commented on #96
Hi @avalentino,
thanks for your comment. Your implementation looks promising. I'll give it a try for sure.

[2020-01-25 11:18] heroxbd commented on #79
Thank you for your effort on this issue.

This is not a solution, because there is way more use cases beyond conda.  Checking the CONDA_PREFIX environment variable is an unnecessary complexity.

[2020-01-26 17:25] AgilentGCMS commented on #96
Is there a way to tell vitables to *not* use pyside?

I recently installed vitables using `pip3 install vitables`, but trying to start vitables gets me this error message:
[code]
Googling around brought me to this bug report. Sure enough, if I look at `qtpy/uic.py`, both PYQT4 and PYQT5 are False inside, so loadUiType is not defined. I have PyQt5 installed, so I don't *need* to use pyside. But how

[2020-01-26 21:04] uvemas commented on #96
Hi @AgilentGCMS,

ViTables does NOT use pyside by default. It uses qtpy, which by default uses PyQt. If you have PyQt5 and ViTables installed for the same Python interpreter it should run out of the box.

From your error message 'No Qt bindings could be found' it seems that ViTables doesn't find any Qt bindings installed (nor PyQt neither PySide).

Can you create a new virtual environment and inst

[2020-01-28 03:09] AgilentGCMS commented on #96
OK, will do.

[2020-01-28 03:15] AgilentGCMS opened #97 "vitables fails to launch with "cannot import name 'loadUiType' from 'qtpy.uic'""
I installed qtpy and PyQt5 through my system's package manager, and vitables with `pip3 install vitables`, but when I try to start it,
[code]
I know that both qtpy and PyQt5 are installed for the python installation vitables is running in:
[code]
And yet vitables won't start. To see what was going on, I tried putting a print statement in `/Users/sbasu1/packages/macports/Library/Frameworks/Python.f

[2020-01-28 14:44] AgilentGCMS commented on #97
My PyQt5, qtpy, pyside and sip were installed with the system package manager. When I uninstalled those and allowed pip3 to pull in vitables dependencies, this is what it did:
[code]
However, vitables still does not start
[code]
So it seems like (1) vitables absolutely needs pyside, and (2) despite pip3 saying that PyQt5 got installed, vitables can't find it.

[2020-01-28 20:50] uvemas commented on #97
Well, it seems that something is messy in your system. You say that have uninstalled PyQt5, qtpy, pyside and sip and then installed vitables via pip3. In that case the expected result is a new installation of PyQt5 (and sip) and qtpy because they are vitables dependencies. However the output of your pip3 install vitables command says that PyQt5 (and sip) and qtpy were already satisfied dependencie

[2020-01-28 22:36] AgilentGCMS commented on #97
So I did a very careful cleanup of my system to get rid of all PyQt5, PyQt5-sip and qtpy, and did and `pip3 install`, which gave
[code]
Running vitables after that worked, so all is well!

I was trying to have one maintaining system for python packages, between macports and pip3, which is why I tried installing the PyQt5 stuff through macports initially. I guess it was not to be...

[2020-01-28 22:36] #97 closed

[2020-03-13 10:46] anntzer opened #98 "export to csv of struct array fails with AttributeError"
First, thanks for the nice piece of software :) still, there's an issue...

Create the following hdf5 file:
[code]
open it with vitables and try to export the "foo" dataset to csv.

One gets
[code]
and indeed, checking the export_csv.py source file, one sees that the `_try_exporting_dataframe` method has been commented out.

[2020-04-17 15:03] ankostis opened #99 "Cannot open pandas.DataFrame nodes"
It seems that all work from #71 is not working, pandas do not work at all.
Is this expected?

[2020-04-17 15:14] ankostis commented on #99
Something that confirma my finding is that this code would raise an exception due to `log` object misuse, it's not a callable but an object
(as a side note, the check would fail on production, if assertions are disabled - a regular `if` is preferable).

So it seems this code path has not run ever.

[2020-04-18 05:36] uvemas commented on #99
Not expected at all. I'll try to have a look soon but it won't be easy (covid-19 lockdown + children is not the best for working on code).

[2020-04-19 08:38] uvemas commented on #99
Hi, yes assertions should not be in the code, that's right. But I'm not sure what the problem is. I've just installed vitables-3.0.2 from pypi in a fresh virtual environment, and created some trivial dataframes. Everything works fine. I've also opened the dataframes via my local repo without problems.

[2020-04-19 11:20] ankostis commented on #99
Very strange!
Can you post a screenshot of the UI on a dataframe node?

[2020-04-19 13:58] uvemas commented on #99
![screenshot](https://user-images.githubusercontent.com/1099529/79689645-834ecf80-8256-11ea-9197-ac2a48c7ca18.png)

[2020-04-19 14:44] ankostis commented on #99
This is what i'm seeing:
![image](https://user-images.githubusercontent.com/501585/79690780-d9c30a80-8264-11ea-92a7-24ff788d35d0.png)

- Could there be some other precondition for dataframe code to enact, that i have forgotten about?
- How is that even [setting breakpoints](https://github.com/uvemas/ViTables/blob/master/vitables/vttables/df_model.py#L45) don't seem to kick?
- How is that mistaken

[2020-04-19 16:29] uvemas commented on #99
Uff! No idea about what happens. I'll do some tests with breakpoints and logs and tell you my findings.

[2020-04-19 17:04] ankostis commented on #99
Would you mind installing it in a clean venv?

[2020-04-19 18:24] uvemas commented on #99
In a clean venv I can set breakpoints and they work. Inserting a malformed log after line 45 raise a TypeError (Logger object is not callable) as expected. I'm not sure about the conditions of the log-statements. Maybe you are right and they are never true.

Still have no idea on what your problem can be :-(

[2021-01-28 10:12] S-hannon commented on #94
![image](https://user-images.githubusercontent.com/30290335/106122920-31c26200-6151-11eb-9a09-32bb06e1f40d.png)
I have just installed vitables to conda and also get this error

[2021-01-28 10:23] S-hannon commented on #94
Ah, this work-around solves it
(Anaconda3) > conda create --name vitables pytables pyqt
(Anaconda3) > conda activate vitables
(vitables) > pip install ViTables

[2021-01-28 19:35] uvemas commented on #94
Yes, its exactly what the FAQ says :-)

[2021-02-05 12:15] nzjrs opened #101 "pandas.DataFrame tables are not rendered correctly"
maybe a duplicate of #99

![image](https://user-images.githubusercontent.com/41891/107032404-a88fd880-67ab-11eb-8c3a-4a97690deec9.png)

Python 3.7 venv on Ubuntu 18.04 with `pip install vitables`

[code]

[2021-02-12 20:11] meawoppl commented on #94
Same issue here. Notably the windows package instructions here result in a broken installtion as above:
https://anaconda.org/conda-forge/vitables

[2021-03-16 02:05] myd7349 commented on #79
I encountered the same issue yesterday. After installing `ViTables` via `pip install vitables`, I couldn't restart my `Spyder` IDE. So I had to reinstall `Anaconda` today.
Any way to install `ViTables` as a standalone application? For example, it would be nice to provide some pre-built binary packages in the release page.

[2021-03-19 09:22] uvemas commented on #79
Hi @myd7349 ,
I've been able to reproduce the problem only when installing the ViTables wheel  from [Christoph Gohlke's website](https://www.lfd.uci.edu/~gohlke/pythonlibs/#vitables). In that case Spyder and Anaconda Navigator both refuse to start. I've managed to fix it by removing (via pip uninstall) all PyQt packages installed when installing the wheel (PyQt5-sip, PyQt5-Qt5 and PyQt5) and reins

[2021-04-01 14:00] HealthyPear opened #102 "Vitables 3.0.2 doesn't start"
## Setup

- **OS:** macOS Big Sur version 11.2.3 (20D91)
- **conda:**  4.9.2
- **vitables:** 3.0.2

## Steps to reproduce

- `conda create -n vitables python=3.8`
- `conda install -c conda-forge vitables`
- `vitables file.h5`

## Result

Instead of opening vitables there is just a python process hanging indefinitely and the application seems to not respond.

I tried also:
- using pip to install th

[2021-04-06 09:12] HealthyPear commented on #102
The problem seems to be related to Qt on Mac and it seems to be solved by setting the environment variable `QT_MAC_WANTS_LAYER` to `1`, so e.g. this works

`QT_MAC_WANTS_LAYER=1 vitables some_file.h5`

[2021-04-21 08:29] NeriKafkafi commented on #102
Same here, but on a Win10. Same on a 64bit Win7 machine.

[2021-05-27 17:58] loathingKernel opened #104 "data_files copied to weird location when installed through setuptools"
Data files are copied to a weird path when installed throught setup tools as shown by the following log

[code]

Installed by running

[code]

The expected location would be something like `/usr/share/doc/vitables` depending on the distribution.

[2021-07-16 09:35] jasperjonker opened #106 "Export to CSV not working"
When I try to export a table to csv (from dataset -> export to csv...) ViTables shows me the following error:

[code]

Which is not so weird when I see that the [code](https://github.com/uvemas/ViTables/blob/d3e6b4e2dddbfdc41a5994a794754b59dc1e7483/vitables/csv/export_csv.py#L190) is commented out

[2021-07-25 21:01] cleemesser opened #107 "support variable length strings"
vitables seems great. I use variable length strings quite a bit in my hdf5 datasets. I notice that as of version 3.0.2 these are marked unsupported when I try to view my hdf5 files.
Not sure how difficult this would be to support, but I would like to suggest it as an enhancement.

[2021-11-03 19:59] jsta commented on #106
It was commented out in this commit: https://github.com/uvemas/ViTables/commit/f99a529d835167fea9d1e6f987a4801c7cefead2

[2022-01-15 15:37] stonebig commented on #96
PySide2-5.15.2 is the only Qt currently available on Python-3.10 / Windows and compatible with Spyder (by removing PyQt wheel dependancy).

Wouldn't it make sense, if you use QtPy, to NOT make PyQt5 a wheel dependancy for vitables too ?

[2022-02-07 17:21] iipr opened #110 "module 'collections' has no attribute 'Iterable'"
After pip-installing vitables 3.0.2, trying to open it throws the error: `module 'collections' has no attribute 'Iterable'`
I think it is related to this stackoverflow question: [link](https://stackoverflow.com/questions/53978542/how-to-use-collections-abc-from-both-python-3-8-and-python-2-7/).
As a quick and dirty fix, manually replacing `collections` by `collections.abc` on the vitables file `ut

[2022-02-07 17:23] ankostis commented on #110
Has been addressed by #109, awaiting for a new release.

[2022-02-07 17:24] iipr commented on #110
Thanks @ankostis! I only just saw it.

[2022-02-07 17:25] #110 closed

[2022-07-04 08:09] jiegec opened #112 "Release a new version?"
The latest version on pypi is 3.0.2, released on Dec 25, 2019. Could you release a new version to include the fixes on master branch?